<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.martin.nextflight">

<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="22" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="22" />


<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyAI9UXBmxoaXI5L-JJdG9lgvJ2kXGCv96A" />
    <activity android:name=".MainActivity" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".FlightSearchActivity" android:label="@string/title_activity_flight_search"
        android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.NoActionBar">

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
    </activity>
    <activity android:name=".ReviewActivity" android:label="@string/title_activity_review"
        android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.NoActionBar">

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
    </activity>
    <activity android:name=".FlightStatusActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".FlightSearchActivity" />
    </activity>
    <activity android:name=".StatusMapsActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".FlightStatusActivity" />
    </activity>
    <activity android:name=".ConverterActivity" android:label="@string/title_activity_converter"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
    </activity>
    <activity android:name=".SingleReviewAcitvity" android:label="@string/title_activity_single_review"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ReviewActivity" />
    </activity>
</application>
</manifest>